<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gsv_oneclickbuy_listing_data_source" xsi:type="string">GSV\OneClickBuy\Model\ResourceModel\Order\Grid</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="GSV\OneClickBuy\Model\ResourceModel\Order\Grid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">oneclickbuy_orders</argument>
            <argument name="resourceModel" xsi:type="string">GSV\OneClickBuy\Model\ResourceModel\Order</argument>
        </arguments>
    </virtualType>
</config>
